header {
    background-color: rgb(52, 52, 52);
    padding: 20px 20px;
}

#kzcine {
    color: white;
    margin-bottom: 1.5rem;
}

.navTop {
    text-decoration: none;
    color: white;
    padding: 10px 0px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

li {
    list-style: none;
}

input {
    border-radius: 15px;
    border: none;
}

input#affiche_film {
    border-radius: 0px;
}

input#photo {
    border-radius: 0px;
}

.home_image_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 65px;
}

#h2_home {
    position: absolute;
    z-index: 1;
}

.caption_home {
    filter: brightness(0.5);
}

#img_home {
    width: 100%;
    border-radius: 10px;
}

#home_section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

#h3_home {
    font-size: 28px;
}

.movieWeek {
    display: flex;
    flex-direction: column;
}

.movieWeek_wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 1087px;
    justify-content: center;
    flex-wrap: wrap;
}

.figure_film {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure_actor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_film {
    text-decoration: none;
    color: #9c9cc0;
}

.link_actor {
    text-decoration: none;
    color: #9c9cc0;
}

.section_film1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section_director1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section_actor1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section_role {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.addFilms_btn {
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    width: 127px;
}

.addFilms_link {
    text-decoration: none;
}

.section_addFilms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h2_addFilms {
    margin: 30px 0;
}

.addFilms_wrapper {
    width: 900px;
    border: 2px solid;
    border-radius: 10px;
}

.addGenres_btn {
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    width: 140px;
}

.addGenres_link {
    text-decoration: none;
}

.addRoles_btn {
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    width: 129px;
}

.addRoles_link {
    text-decoration: none;
}

.formular_base {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px;
}

main {
    padding: 15px;
    background-color: #060715;
    color: #9c9cc0;
}

.card_website {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    width: 800px;
}

.posterMovie {
    width: 200px;
    height: 300px;
}

.photoPerson {
    width: 200px;
    height: 300px;
}

.synopsis {
    width: 700px;
}

footer {
    background-color: rgb(52, 52, 52);
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer_container {
    display: flex;
    flex-direction: row;
}

#footer_group {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 22px;
    bottom: 10px;
}

#footer_title {
    color: white;
}

small {
    color: white;
}

.footer_nav {
    text-decoration: none;
    color: white;
}